doctype html
head
  meta(charset='utf-8')
  title
  meta(name='author' content='')
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  script(src='https://cdn.paddle.com/paddle/paddle.js')
  // <link href="style.css" rel="stylesheet">
p Gee, thanks!
p= test
h2 Receipt:
#receipt_url 
a(href= receipt_url, target='_blank') Link
h2 License Code:
#license_code= license_code
h2 Associated email:
#email= email
h2 Total Price:
#total_price= total